.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  gap: 20px;
}
.box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icon {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
