.container {
  display: flex;
  flex-direction: row;
}
.box {
  width: 100px;
  height: 100px;
}
.green {
  background-color: #55efc4;
}
.teal {
  background-color: #81ecec;
}
.blue {
  background-color: #74b9ff;
}
.purple {
  background-color: #a29bfe;
}
.grey {
  background-color: #dfe6e9;
}
