.container {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  /* 가로 축*/
  justify-content: end;
  /*세로 축*/
  align-items: start;
}
.box {
  width: 50px;
  height: 50px;
  background-color: #0984e3;
}
