.boxmodel {
  color: black;
  background-color: #98eccb;
  border: 1px solid #98eccb;
  border-radius: 4px;
  padding: 2px;
  font-weight: 600;
}
.background {
  color: black;
  background-color: #9dd6ff;
  border: 1px solid #9dd6ff;
  border-radius: 4px;
  padding: 2px;
  font-weight: 600;
}
.typography {
  color: black;
  background-color: #c9c5ff;
  border: 1px solid #c9c5ff;
  border-radius: 4px;
  padding: 2px;
  font-weight: 600;
}
